.full-width-table {
  width: 60%;
  margin: 10px auto;
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  text-decoration-color: black;
}


.paginator{
  width: 60%;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  margin: 5px auto;
  padding: 0%;
}

.header {
  padding: 60px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 70px;
  font-family:'Staatliches';
}