<div class="page">
    <nav class="page__menu menu">
      <ul class="menu__list r-list">
        <li class="menu__group"><a href="http://localhost:4200/AddClubs" class="menu__link r-link text-underlined">Add Clubs</a></li>
        <li class="menu__group"><a href="http://localhost:4200/leagueTable" class="menu__link r-link text-underlined">League Table</a></li>
        <li class="menu__group"><a href="http://localhost:4200/matchTable" class="menu__link r-link text-underlined">Match Table</a></li>
        <li class="menu__group"><a href="http://localhost:4200/addmatch" class="menu__link r-link text-underlined">Add Match</a></li>
        <li class="menu__group"><a href="http://localhost:4200/find" class="menu__link r-link text-underlined">Find Match</a></li>
      </ul>
    </nav>
 </div>
