

<h1 class = "header">Add Clubs</h1>

<form>

  <div class="main-div">
  <mat-card class="card" style="text-align: center">

    <mat-card-content>

          <mat-form-field class="full-width">
            <input matInput placeholder="CLUB NAME"  [(ngModel)]="club.clubName" id="clubName" [ngModelOptions]="{standalone: true}" >

          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="LOCATION"   [(ngModel)]="club.clubLocation" id="clubLocation" [ngModelOptions]="{standalone: true}" >
          </mat-form-field>
      `
    </mat-card-content>


    <mat-card-actions>
      <button mat-raised-button type="submit" class="btn effect04" data-sm-link-text="Add" target="_blank" (click)="addclubs()">Add Club</button>
    </mat-card-actions>


  </mat-card>
  </div>

</form>


